@charset "UTF-8";

body {
    height: 100vh;
    background-color: black;
    background-image: url(https://png.pngtree.com/background/20230416/original/pngtree-website-geometric-figures-dark-background-picture-image_2443562.jpg );
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}
main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}