@charset "utf-8";
h1{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
    margin:10px 10px 10px 10px;

}

a{
    border-width: 10px;
    border-style: solid;
    border-color: red;
}
.lista {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-style: solid;
    border-color: blueviolet;
    border-top: 50px;
    padding: 50px;
    scrollbar-width: auto;