head
{
    font-family: monospace
}
h1 
{
    color: rgb(187, 25, 33);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}