@charset "UTF-8";
*{
    padding: 0px;
    width: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}
